<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='{% static "App_Folder_css/style.css" %}' />
  </head>

  <body>
    <h1>遅延路線登録</h1>

    {% if DelayCreate %}
    <h1>登録完了!</h1>
    <a href="{% url 'home' %}">TOPページへ</a>

    {% else %}
    <div class="register">
      <table class="reg_form">
        <tr>
          <th>路線名</th>
          <th>遅延時間</th>
          <th>遅延認定</th>
        </tr>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
            {% comment %} {% for route, delay_time in zip(routes, delay_times) %} {% endcomment %}
            {% for info in infos %}
            <tr>
              <td>{{ info.route.name }}</td>
              <td>{{ info.time }}</td>
              {% if info.route in today_delay_routes %}
              <td><input type="checkbox" name="checked_delay" value="{{info.route.id}}" checked></td>
              {% else %}
              <td><input type="checkbox" name="delay" value="{{info.route.id}}"></td>
              {% endif %}
            </tr>
            {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td>
              <input class="btn" type="submit" name="" value="登録" />
            </td>
          </tr>
        </form>
      </table>
      <form enctype="multipart/form-data" method="update">
        <input class="btn" type="submit" name="" value="更新" />
      </form>
    </div>
    <a href="{% url 'home' %}">TOPページへ</a>
    {% endif %}
  </body>
</html>
