{% extends 'layout.html' %}

{% block title %}
遅延路線登録
{% endblock %}

{% block banner %}
<h1>遅延路線登録</h1>
{% endblock %}

{% block content %}
{% if DelayCreate %}
<div class="row my-4">
  <div class="col-12">
    <h2>登録完了!</h2>
  </div>
  <div class="col-12">
    <a class="btn btn-primary" href="{% url 'delay_register' %}">戻る</a>
  </div>
</div>
{% else %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">路線名</th>
        <th scope="col">遅延時間</th>
        <th scope="col">遅延認定</th>
      </tr>
    </thead>
    <tbody>
      {% for info in infos %}
      <tr>
        <td>{{ info.route.name }}</td>
        <td>{{ info.time }}</td>
        {% if info.route in today_delay_routes %}
        <td><input type="checkbox" name="checked_delay" value="{{info.route.id}}" checked></td>
        {% else %}
        <td><input type="checkbox" name="delay" value="{{info.route.id}}"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="bs-component">
    <input type="submit" class="btn btn-info" value="登録" />
  </p>
</form>
{% endif %}
{% endblock %}
