{% extends 'layout.html' %}

{% block title %}
遅延路線登録
{% endblock %}

{% block banner %}
<h1>遅延路線登録</h1>
{% endblock %}

{% block content %}
<form method="post">
  <div class="form-group">
    {% csrf_token %}
    {{ today }}現在
    <input type="hidden" name="update" value="True"/>
    <input type="submit" class="btn btn-outline-primary mx-2" value="更新" />
  </div>
</form>
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">路線名</th>
        <th scope="col">遅延時間</th>
        <th scope="col">遅延認定</th>
      </tr>
    </thead>
    <tbody>
      {% for info in infos %}
      <tr>
        <td>{{ info.route.name }}</td>
        <td>{{ info.time }}</td>
        {% if info.route in today_delay_routes %}
        <td><input type="checkbox" name="delay" value="{{info.route.id}}" checked></td>
        {% else %}
        <td><input type="checkbox" name="delay" value="{{info.route.id}}"></td>
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="bs-component">
    <input type="submit" class="btn btn-info" value="登録" />
  </p>
</form>
{% endblock %}
