{% extends 'layout.html' %}

{% block title %}
ログイン
{% endblock %}

{% block banner %}
<h1>ログイン</h1>
{% endblock %}

{% block content %}
<form method="post">
  {% csrf_token %}
  {% for item in form %}
  <div class="form-group">
    <label for="{{item.id_for_label}}">{{item.label}}</label>
    <input
      type="{{item.field.widget.input_type}}"
      class="form-control"
      {% if item.field.required %}required{% endif %}
      name="{{item.name}}"
      id="{{item.id_for_label}}"
    >
  </div>
  {% endfor %}
  <p class="bs-component">
    <input type="submit" class="btn btn-info" value="ログイン" />
    <a href="{% url 'user_register' %}" class="btn btn-outline-primary mx-4" >ユーザ登録</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}" class="login-with-google-btn">
      <span class="icon-google mr-3"></span> Googleアカウントでログイン
    </a>
  </p>
</form>
{% endblock %}
