{% extends 'layout.html' %}

{% block title %}
申請履歴
{% endblock %}

{% block banner %}
<h1>遅刻取り消し申請履歴</h1>
{% endblock %}

{% block content %}
<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">日付</th>
      <th scope="col">路線名</th>
      <th scope="col">遅刻取り消し状況</th>
    </tr>
  </thead>
  <tbody>
    {% for userdelay in userdelays %}
    <tr>
      <td scope="row">{{userdelay.delay.year}}/{{userdelay.delay.month}}/{{userdelay.delay.day}}</td>
      <td scope="row">{{ userdelay.delay.route.name }}</td>
      {% if userdelay.is_finished %}
      <td>取り消し完了</td>
      {% else %}
        {% if userdelay.is_checked %}
        <td>担任チェック完了</td>
        {% else %}
        <td>担任チェック待ち</td>
        {% endif %}
      {% endif %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
