{% extends 'layout.html' %}

{% block title %}
遅刻学生一覧
{% endblock %}

{% block banner %}
<h1>遅刻学生一覧{% if class_number is not None %}（{{ class_number }}）{% endif %}</h1>
{% endblock %}

{% block content %}
{% if UserDelayUpdate %}
<div class="row my-4">
  <div class="col-12">
    <h2>登録完了!</h2>
  </div>
  <div class="col-12">
    <a class="btn btn-primary" href="{% url 'userdelay' %}">戻る</a>
  </div>
</div>
{% else %}
{% if user.is_staff %}
<form method="get">
  <div class="form-group">
    <label for="class-select">クラス指定: </label>
    <select name="class_number" id="class-select" class="form-select-lg mx-2">
      <option value="">---------</option>
      {% for number in class_numbers %}
      <option value="{{number}}"
        {% if number == class_number %} selected {% endif %}
      >{{number}}</option>
      {% endfor %}
    </select>
    <input type="submit" class="btn btn-outline-primary" value="フィルタ" />
  </div>
</form>
{% endif %}
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">日付</th>
        <th scope="col">学生番号</th>
        <th scope="col">名前</th>
        <th scope="col">遅延路線名</th>
        <th scope="col">担任チェック</th>
        {% if user.is_staff %}
        <th scope="col">遅刻取り消し完了</th>
        {% endif %}
      </tr>
    </thead>
    <tbody>
      {% for userdelay in userdelays %}
      <tr>
        <td scope="row">{{userdelay.delay.year}}/{{userdelay.delay.month}}/{{userdelay.delay.day}}</td>
        <td scope="row">{{userdelay.user.number}}</td>
        <td scope="row">{{userdelay.user.last_name}} {{userdelay.user.first_name}}</td>
        <td scope="row">{{ userdelay.delay.route.name }}</td>
        {% if user.is_staff %}
          {% if userdelay.is_checked %}
          <td><input type="checkbox" name="check" value="{{userdelay.id}}" checked></td>
          {% if userdelay.is_finished %}
          <td><input type="checkbox" name="finish" value="{{userdelay.id}}" checked></td>
          {% else %}
          <td><input type="checkbox" name="finish" value="{{userdelay.id}}"></td>
          {% endif %}
          {% else %}
          <td><input type="checkbox" name="check" value="{{userdelay.id}}"></td>
          <td></td>
          {% endif %}
        {% else %}
          {% if userdelay.is_checked %}
          <td><input type="checkbox" name="check" value="{{userdelay.id}}" checked></td>
          {% else %}
          <td><input type="checkbox" name="check" value="{{userdelay.id}}"></td>
          {% endif %}
        {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
  <p class="bs-component">
    <input type="submit" class="btn btn-info" value="登録" />
  </p>
</form>
{% endif %}
{% endblock %}
