<!DOCTYPE html>
{% load static %}
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href='{% static "App_Folder_css/style.css" %}' />
  </head>

  <body>
    <h1>遅刻取り消し申請</h1>

    {% if UserDelayCreate %}
    <h1>登録完了!</h1>
    <a href="{% url 'home' %}">TOPページへ</a>

    {% else %}
    <div class="register">
      <table class="reg_form">
        <tr>
          <th>日付</th>
          <th>路線名</th>
          <th>遅刻取り消し</th>
        </tr>
        <form enctype="multipart/form-data" method="post">
          {% csrf_token %}
            {% for delay in delays %}
            <tr>
              <td>{{delay.year}}/{{delay.month}}/{{delay.day}}</td>
              <td>{{ delay.route.name }}</td>
              {% if delay.route.id in user_route_ids %}
                {% if delay.id in delay_ids  %}
                <td><input type="checkbox" name="checked_delay" value="{{delay.id}}" checked></td>
                {% else %}
                <td><input type="checkbox" name="delay" value="{{delay.id}}"></td>
                {% endif %}
              {% endif %}
            </tr>
            {% endfor %}
          <tr>
            <td></td>
            <td></td>
            <td>
              <input class="btn" type="submit" name="" value="登録" />
            </td>
          </tr>
        </form>
      </table>
    </div>
    <a href="{% url 'home' %}">TOPページへ</a>
    {% endif %}
  </body>
</html>
